@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: Nunito;
    display: flex;
    flex-direction: column;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.25em;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: grid;
    gap: 20px;
    padding: 40px;
    // height: 100vh;
    grid-auto-flow: dense;
}

.item {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    grid-column: span 1;
    position: relative;
    height: 100vh;
    max-height: 200px;

    text-decoration: none;
    text-align: center;
    color: #888;
    font-size: 1.3rem;
    background: white;
    // box-shadow: 0px 10px 10px -5px var(--shadow) inset;

    border-radius: 8px;

    .indicator {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        
        .indicator-bar {
            background: var(--color);
            transition: opacity 0.4s ease;
            height: 8px;
            border-radius: 100vw;
            opacity: 0.2;
        }
    }

    &--large {
        grid-column: span 2;

        .indicator .indicator-bar {
            opacity: 1;
            transition: background 0.4s ease;
        }

        &:hover {
            .indicator-bar {
                background: var(--shadow);
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        border-radius: 5px;
        box-shadow: 0px 10px 10px -5px #bbb;
        transition: opacity 0.2s ease-in-out;
        pointer-events: none;
    }

    &:hover {
        .indicator-bar {
            opacity: 1;
        }

        &:after {
            opacity: 1;   
        }
    }

    &--empty {
        --color: #34495e;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &:after {
            opacity: 0;
        }

        &:hover:after {
            opacity: 0;
        }
    }
}